        .config/Lens/
        .config/Qlipper/
        .config/dconf/
        .config/evolution/
        .config/featherpad/
        .config/gtk-3.0/
        .config/helm/
        .config/htop/
        .config/ibus/
        .config/libreoffice/
        .config/lxqt-mimeapps.list
        .config/lxqt/
        .config/pcmanfm-qt/
        .config/pulse/
        .config/qterminal.org/
        .config/remmina/
        .config/user-dirs.dirs
        .config/user-dirs.locale
        .config/xfce4/
