.config/BraveSoftware    
.config/libreoffice    
.config/Lens    
.config/dconf    
.config/evolution    
.config/featherpad    
.config/gtk-*    
.config/helm    
.config/htop    
.config/xfce4        
.config/remmina
.config/qtermina
.config/pulse   
.config/pcman*    
.config/lxqt 
.config/ibus   
.config/featherpad
.config/evolution
.config/Qlipper
